.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.historyContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.historyTags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.historyHeading {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    opacity: 0.6;
}

.favoriteIcon {
    color: var(--text-color);
    font-size: 22px;
    opacity: 0.6;
    font-weight: bold;
    stroke-width: 14px;
}

.fadingOverlay {
    position: absolute;
    display: none;
    left: calc(200px);
    height: 40px;
    width: min(200px, 10%);
    background-color: brown;
    /* background-image: linear-gradient(to right, transparent, transparent, var(--bg-color)) */
}

.divider {
    width: 100%;
    max-width: 600px;
    margin: 24px auto;
    border: none;
    border-top: 1px solid var(--input-border);
    opacity: 0.5;
}

.fullHistoryButton {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--input-bg);
    border: none;
    border-radius: 40px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.fullHistoryButton:hover {
    color: var(--text-color);
    transform: translateY(-1px);
}