<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="background-container">
			<div class="blurred-circle"></div>
		</div>
		<slot />
	</body>
</html>

<style>
	:root {
		--bg-color: #fafafa;
		--input-bg: rgba(255, 255, 255, 0.2);
		--input-border: #ffffff;
		--input-focus-border: #FF0000;
		--input-focus-shadow: rgba(255, 0, 0, 0.6);
		--text-color: #000000;
		--heading-color: #000000;
		--description-color: #666666;
		--placeholder-color: #888888;
		--button-bg: #FF0000;
		--tag-bg: #666666;
		--favorite-bg: #DAA300;
		--button-hover: #CC0000;
		--input-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 0, 0, 0.05);
		--button-box-shadow: 0 8px 24px rgba(255, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
		--dropdown-bg: rgba(255, 255, 255, 0.6);
		--bg-radial-gradient: radial-gradient(#A63030FF 0%, #c15f5f 10%, #e39797 20%,
		#ead6d6 40%, #fafafa 60%, #fafafa 80%, #fafafa 100%);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--bg-color: #0F0F0F;
			--input-bg: rgba(255, 255, 255, 0.05);
			--input-border: #303030;
			--input-focus-border: #FF0000;
			--input-focus-shadow: rgba(255, 0, 0, 0.9);
			--text-color: #FFFFFF;
			--heading-color: #FFFFFF;
			--description-color: #AAAAAA;
			--placeholder-color:  rgba(255, 255, 255, 0.4);;
			--button-bg: rgba(255, 0, 0, 0.7);
			--tag-bg: #666666;
			--favorite-bg: #DAA300;
			--button-hover: rgba(255, 0, 0, 1);
			--input-box-shadow: rgba(255, 255, 255, 0.05), 0 4px 20px rgba(0, 0, 0, 0.3);
			--button-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
			--red-bg-circle: rgb(97, 97, 97);
			--bg-radial-gradient: radial-gradient(#323232 0%, #2e2e2e 10%, #232323 20%,
			#121212 40%, #0F0F0F 60%, #0F0F0F 80%, #0F0F0F 100%);
		}
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-color);
	}

	.background-container {
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		z-index: 0;
	}

	/* Updated background styling */
	.blurred-circle {
		position: fixed;
		height: 100vh;
		width: 100vh;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: var(--bg-radial-gradient);
		opacity: 0.5;
		z-index: 0;
	}
</style>
