<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--bg-color: #FFFFFF;
		--input-bg: #FFFFFF;
		--input-border: #CCCCCC;
		--input-focus-border: #FF0000;
		--input-focus-shadow: rgba(255, 0, 0, 0.3);
		--text-color: #000000;
		--heading-color: #000000;
		--description-color: #666666;
		--placeholder-color: #666666;
		--button-bg: #FF0000;
		--tag-bg: #666666;
		--favorite-bg: #DAA300;
		--button-hover: #CC0000;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--bg-color: #0F0F0F;
			--input-bg: #121212;
			--input-border: #303030;
			--input-focus-border: #FF0000;
			--input-focus-shadow: rgba(255, 0, 0, 0.3);
			--text-color: #FFFFFF;
			--heading-color: #FFFFFF;
			--description-color: #AAAAAA;
			--placeholder-color: #AAAAAA;
			--button-bg: #FF0000;
			--tag-bg: #666666;
			--favorite-bg: #DAA300;
			--button-hover: #CC0000;
		}
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-color);
	}
</style>
